a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}


.nav-bar{
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    background-color: whitesmoke;
    display: flex;
   justify-content: space-between;
   align-items: center;
}

/* right nav elements */
.right-nav-bar-wrapper{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}
/* left nav elements */
.left-nav-bar-wrapper{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

/* nav links */
.nav-links{
    font-style: normal;
    padding-right: 20px;
    color: rgb(71, 71, 71);
    user-select: none;
    text-decoration: solid;
}

.contact-button{
    height: 50px;
    width: 150px;
    margin-right: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 71, 71)
}

/* icon wrapper */
.icon-props{
    height: 30px;
    width: 30px;
}

.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:whitesmoke;
}

/* my-apps drop down */
.my-apps{
    border: none;
    margin-right: 10px;
    background-color: transparent;
    color: rgb(71, 71, 71);
    padding: 8px;
    border: none;
    cursor: pointer;
}

.my-apps:hover{
    color:  rgb(58, 58, 148);
}

.my-apps:focus{
    outline: none;
}

/* floating action button */
.floating-button{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    justify-items: center;
    background-color: rgb(71, 71, 71);
    height:60px;
    width: 60px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: inset;
}


.floating-button:hover{
    background-color:  rgb(58, 58, 148);
}

/* app-bar logo */
.sqrlware-logo{
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(71, 71, 71);
}

.sqrlware-logo:hover{
    color:  rgb(58, 58, 148);
    cursor: context-menu;
}
/* text wrapper for section */
.text-wrapper{
    max-width: 100%;
    align-items: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(71, 71, 71);
}

/* title for section */
.title{
    font-size: xx-large;
    font-weight: bold;
}

/* home style for section */
.home{
    display: flex;
    justify-content: center;
}

/* help-me style for section */
.help-me{
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

/* mockup-image styling */
.mockup-sample{
    height: 60dvh;
    width: 100dvh;
}

.redirect-button{
    margin-top: 50px;
    height: 50px;
    width: 150px;
    margin-right: 10px;
    color: white;
    border-radius: 10px;
    border: 5;
    border-color: rgb(71, 71, 71);;
    background-color: rgb(57, 177, 57)
}

.redirect-button:hover{
    background-color:  rgb(71, 71, 71);
}

.redirect-wrapper{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow-img{
    height: 10%;
}

.contact-button:hover{
    background-color: rgb(58, 58, 148);
}
.nav-links:hover{
    color: rgb(58, 58, 148);
}